{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard <small>Voters Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Voters
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        
        <div class="col-lg-12 map">
            <div class="well">
<!--               <div class="google-map-canvas" id="map-canvas" style="height:400px">
                test
              </div> -->

              <div >&nbsp; Status <span id="ajaxloader" style="display:none">Loading...</span></div>
              <div id="map" style="height:400px">TEST</div>
            </div>
        </div>
        
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-globe fa-fw"></i> Voters</h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table border="0" cellspacing="5" cellpadding="5">
                            <tbody>
                                <tr>
                                    <td>Party:</td>
                                    <td><input type="text" id="party" name="party"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="voter_table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <th>voterID</th>
                            <th>first_name</th>
                            <th>last_name</th>
                            <th>suffix</th>
                            <th>exempt</th>
                            <th>address1</th>
                            <th>address2</th>
                            <th>city</th>
                            <th>zipcode</th>
                            
                            <th>gender</th>

                            <th>party</th>
                            
                            <th>status</th>
            
                            <th>email</th>
                            <th>phone</th>
                            <th>latitude</th>
                            <th>longitude</th>


                        </thead>
                        <tbody>
                        </tbody>
                                <tfoot>
                                    <tr>
                                        <th>voterID</th>
                                        <th>first_name</th>
                                        <th>last_name</th>
                                        <th>suffix</th>
                                        <th>exempt</th>
                                        <th>address1</th>
                                        <th>address2</th>
                                        <th>city</th>
                                        <th>zipcode</th>
                                        
                                        <th>gender</th>

                                        <th>party</th>
                                        
                                        <th>status</th>
                        
                                        <th>email</th>
                                        <th>phone</th>
                                        <th>latitude</th>
                                        <th>longitude</th>
                                    </tr>
                                </tfoot>

                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}


{% block js %}
    <script src="{% static 'js/leaflet/PruneCluster.js' %}"></script>
    <script src="{% static 'js/clustermap.js' %}"></script>

{% endblock %}